.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(102, 157, 240, 0.15);
}

body {
  padding-top: 70px;
  background-color: rgb(87, 91, 112);
}
